{{#partial "content"}}
    <h1>SUCCESS!</h1>
    The animal species to be tracked has been added.
    <a href="/">Back to home page</a>
    <br>
    <a href="/wildlife">Add  animal species to be tracked</a>
    <a href ="/sightings">View Sightings</a>
    <a href="/animals">View all animals</a>

{{/partial }}
{{>layout.hbs}}