{{#partial "content"}}
    <h1>SUCCESS!</h1>
    The animal to be tracked has been added.
    <a href="/">Back to home page</a>
    <br>
    <a href="/all-animals">view the animals to be tracked</a>
    <a href="/Sightings">view sights of the animals tracked</a>

{{/partial }}
{{>layout.hbs}}